{% extends '__base.html.twig' %}

{% block scripts %}
    {% include '_components/_form_component.html.twig' with {'contentView': 'user/_form.html.twig'} %}
    <script>
        var vm = new Vue({
            el: 'body',
            data: {
                formData: {
                    name: '{{ user.name }}',
                    email: '{{ user.email }}'
                }
            },
            computed: {
                formValidation: function () {
                    return {
                        name: this.formData.name.length > 0,
                        email: this.formData.email.length > 0
                            && regex.email.test(this.formData.email)
                    }
                },
                formSubmit: function () {
                    return {
                        name: this.formData.name,
                        email: this.formData.email
                    }
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Edit User</h2>
    <form-component action="{{ path('app_user_update', {'id': user.id}) }}"
                    method="put"
                    redirect="{{ path('app_user_index') }}"
                    :form-data="formData"
                    :form-validation="formValidation"
                    :form-submit="formSubmit">
    </form-component>
{% endblock %}
